body {
    margin: 0;
    background-color: lightslategray;
}

.box {
    width: 100%;
    margin-top: 15%;
    text-align: center;
}

figure {
    display: inline-block;
    overflow: hidden;
    margin: 0 10px;
    width: 400px;
    height: 350px;
    border: 5px solid #000000;
}

figure img {
    transition: transform .5s ease-out;
    object-fit: cover;      
    width: 100%;
    height: 100%;
}

figure:hover img {
    transform: scale(1.5) rotate(-5deg);
    cursor: pointer;
}